@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 1.25rem;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 4fr 4vw;
  grid-template-rows: 1fr 5fr;
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
}

h1 {
  font-size: 2vw;
  font-weight: bolder;
  margin-left: 0.5vw;
}

h2 {
  font-size: 1.5vw; 
}

.nav {
  grid-column: 1;
  grid-row: 1 / 3;
  display: grid;
  grid-template-rows: 5vw 1fr;
  background-color: lightblue;
  width: 19vw;
}

.nav-legend {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: #fff;
  margin-top: 2vw;
  width: 16vw;
  height: 7vh;
}

.dashboard-image {
  width: 2vw;
  margin-left: 1.5vw;
  
}

.nav-profile-pages {
  justify-self: center;
  align-self: flex-start;
  margin-top: 4vh;
  width: 15vw;
}

.nav-settings-pages {
  justify-self: center;
  align-self: flex-start;
  width: 15vw;
}

ul {
  list-style-type: none;
  margin-left: 1vw;
}

li {
  margin-top: 10px;
  display: flex;
  align-items: center;
}

a {
  font-size: 1.5vw;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

.header {
  height: 8vh;
  margin-top: 3vh;
  display: grid;
  gap: 1vh;
}

.greeting,
.profile-name {
  font-size: 18px;
}

.greeting, 
.profile-name,
.project-title,
.title,
.announcement-title,
.announcements-title,
.trending-title {
  font-weight: bold;
}

.profile-info {
  margin-right: 1vw;
}

.profile-name {
  font-weight: bold;
}

.project-paragraph {
  font-size: 1vw;
}

.top-header {
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.bottom-header {
  display: grid;
  grid-template-columns: 2fr 3fr;  
}

.search {
  grid-column: 1;
  grid-row: 1;
  display: flex;
  align-items: center;
}

.mini-profile {
  grid-column: 2;
  grid-row: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 1vw;
}

.profile-legend {
  grid-column: 1;
  grid-row: 2;
  display: flex;
  align-self: center;
  gap: 5px;
}

.profile-buttons {
  grid-column: 2;
  grid-row: 2;
  display: flex;
  justify-content: flex-end;
  margin-right: 1vw;
  align-items: center;
  gap: 3vw;
}

input[type="submit"] {
  width: 6vw;
  height: 4vh;
  border-radius: 10px;
  font-weight: bold;
  color: #fff;
  background-color: blue;
}

input[type="text"] {
  width: 30vw;
  height: 4vh;
  margin-left: 1vw;
  border-radius: 10px;
  background-color: grey;
  
}

.main-content {
  grid-column: 2 / 3;
  display: grid;
  grid-template-columns: 2.5fr 1fr;
  grid-template-rows: 2vw 5fr 2vw 5fr;
}

.projects-title {
  margin-left: 1vw;
  font-size: 1vw;
  font-weight: bold;
}

.project-title {
  margin-bottom: 10px;
  grid-column: 1;
  grid-row: 1;
  align-self: center;
}

.projects {
  grid-column: 1;
  grid-row: 2 / 5;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(26vw, 1fr));
}

.projects > div {
  margin-left: 1vw;
  height: 22vh;
  width: 26vw;
  border: 1px solid black;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  display: grid;
  padding: 20px;
  font-size: 16px
}

.project-options {
  align-self: center;
  justify-self: flex-end;
  
}

.announcements-title {
  grid-row: 1;
  grid-column: 2;
  align-self: center;
  margin-left: 4vw;
  font-size: 1vw;
}

.announcements {
  grid-column: 2;
  grid-row: 2 / 3;
  border: 1px solid black;
  width: 17vw;
  height: 34vh;
  display: flex;
  margin-left: 4vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1vw;
  gap: 15px;
  overflow: hidden;
}

hr {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 15vw;
}

.announcement-title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 12px;
  margin-bottom: 0.5vw;
}

.announcement-paragraph {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 12px;
}

.trending-title {
  grid-row: 3;
  grid-column: 2;
  margin-left: 4vw;
  align-self: center;
  font-size: 1vw;
}

.trending-pages {
  grid-column: 2;
  grid-row: 4;
  border: 1px solid black;
  margin-left: 4vw;
  width: 17vw;
  height: 32vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}

.trending1,
.trending2,
.trending3,
.trending4 {
  display: flex;
  margin-top: 1vw;
  margin-right: 1vw;
}

.fa-house,
.fa-user,
.fa-envelope,
.fa-clock-rotate-left,
.fa-list-check,
.fa-user-group,
.fa-gear,
.fa-circle-question,
.fa-shield-halved {
  color: #fff;
  margin-right: 1vw;
}

.fa-gear {
  margin-top: 3vh;
}

.settings {
  margin-top: 3vh;
}

.fa-magnifying-glass {
  color: grey;
  margin-left: 1vw;
}

.fa-star, .fa-eye {
  margin-right: 0.5vw;
}